*.[oa]
*~
*.obj
*.pro.user*
.tmp/*

sys
prj/*/*/*
!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*_vs*/*.vdproj
!prj/*/*_vs6/*.dsp
!prj/*/*_vs6/*.dsw
!prj/*/*/*.pro
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
workspaces/*/*
!workspaces/*/*.sln
moc_*.cpp
.gitattributes
.DS_Store
.qmake.stash
src/.original/*/*
contrib/doocs/*
#include/.private/*.h
#include/.private/*/*.h
